<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="record_store_management_system.Properties.Settings.SabsRecordStore_DBConnectionString"
            connectionString="Data Source=SAB-ASUS\SQLEXPRESS;Initial Catalog=SabsRecordStore_DB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>